/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
    .header-bottom .main-menu ul li .mega-menu-2 {
        width: 700px;
    }
    .header-bottom .main-menu ul li .mega-menu-1 .mega-menu-1-column ul li {
        padding: 0;
    }
    .header-bottom .main-menu ul li .mega-menu-4,
    .header-bottom .main-menu ul li .mega-menu-6 {
        width: 500px;
    }
    .header-bottom .main-menu ul li .mega-menu-4 .mega-menu-1-column,
    .header-bottom .main-menu ul li .mega-menu-6 .mega-menu-1-column {
        width: 141px;
    }
    .header-bottom .main-menu ul li .mega-menu-5 {
        width: 500px;
    }
    .header-bottom .main-menu ul li .mega-menu-5 .mega-menu-1-column {
        width: 104px;
    }
    .header-bottom .main-menu ul li .mega-menu-6 {
        left: -400px;
    }
    .tab-content .item-inner .actions button.button span,
    .tab-content .item-inner .actions .add-to-links li a {
        font-size: 14px;
    }
    .banner-item .item-inner .item-img {
        width: 50%;
    }
    .upcoming-product .cdown {
        padding: 10px 0;
    }
    .single-news .news-content {
        padding-top: 0px;
    }
    .single-news .news-content h4 {
        font: 15px/1.35 Oxygen, Arial, sans-serif;
    }
    .news-area .single-news .news-img {
        width: 50%;
    }
    .news-area-2 .single-news .news-img {
        width: 100%;
    }
    .product-ratings span.reviews a {
        padding-left: 3px;
    }
    .single-news .news-content p {
        line-height: 22px;
    }
    .news-area {
        padding-bottom: 0;
    }
    .banner-item-2 .item-inner .item-img {
        width: 100%;
    }
    .indicator-style.new-arrival-indicator-style.owl-theme
        .owl-controls
        .owl-buttons
        div {
        left: -6px;
    }
    .indicator-style.new-arrival-indicator-style.owl-theme
        .owl-controls
        .owl-buttons
        div.owl-next {
        right: -6px;
    }
    .all-product-list-grid-area .page-numbers ul li {
        margin: 0;
        width: 30px;
    }
    .slider-area-2 .layer-1-5 .title4-btn {
        top: 59%;
    }
    .contact-form-mt {
        margin-top: 20px;
    }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    #search:hover input {
        width: inherit;
    }
    .header-bottom .main-menu nav > ul > li > a {
        padding: 15px;
    }
    .header-bottom .main-menu ul li .mega-menu-tab {
        width: 500px;
    }
    .header-bottom .main-menu ul li .mega-menu-tab .mega-menu-1-column {
        width: 142px;
    }
    .header-bottom .main-menu ul li .mega-menu-2 {
        width: 700px;
    }
    .header-bottom .main-menu ul li .mega-menu-1 .mega-menu-1-column ul li {
        padding: 0;
    }
    .header-bottom .main-menu ul li .mega-menu-2 {
        left: -150px;
    }
    .header-bottom .main-menu ul li .mega-menu-4,
    .header-bottom .main-menu ul li .mega-menu-6 {
        width: 500px;
    }
    .header-bottom .main-menu ul li .mega-menu-4 .mega-menu-1-column,
    .header-bottom .main-menu ul li .mega-menu-6 .mega-menu-1-column {
        width: 141px;
    }
    .header-bottom .main-menu ul li .mega-menu-4 {
        left: -150px;
    }
    .header-bottom .main-menu ul li .submenu-tab {
        left: -50px;
    }
    .header-bottom .main-menu ul li .mega-menu-5 {
        width: 500px;
    }
    .header-bottom .main-menu ul li .mega-menu-5 .mega-menu-1-column {
        width: 104px;
    }
    .header-bottom .main-menu ul li .mega-menu-5 {
        left: -305%;
    }
    .header-bottom .main-menu ul li .mega-menu-6 {
        left: -439px;
    }
    .layer-1-2 .title1 {
        font-size: 40px;
    }
    .layer-1-3 .title2 {
        font-size: 50px;
        top: 32%;
    }
    .layer-1-4 .title3 {
        font-size: 14px;
        line-height: inherit;
    }
    .new-product-tab ul.new-product-nav li span {
        font-size: 13px;
        padding-bottom: 7px;
    }
    .tab-content .item-inner .actions button.button span {
        font-size: 12px;
        padding: 0 8px;
    }
    .tab-content .item-inner .actions .add-to-links li a {
        font-size: 12px;
        margin-right: 5px;
        padding: 0 8px;
    }
    .banner-2-area .fix-pr {
        padding-right: 15px;
    }
    .banner-2-area .fix-pl {
        padding-left: 15px;
    }
    .banner-2-area .single-banner {
        margin-bottom: 50px;
    }
    .bnr-tab-mb {
        margin-bottom: 35px;
    }
    .indicator-style.new-arrival-indicator-style.owl-theme
        .owl-controls
        .owl-buttons
        div {
        left: 0;
    }
    .indicator-style.new-arrival-indicator-style.owl-theme
        .owl-controls
        .owl-buttons
        div.owl-next {
        right: 0;
    }
    .slider-area-4 .fixx_pr {
        padding-right: 15px;
    }
    .sidebar-menu-2 {
        margin-bottom: 20px;
    }
    .contact-form {
        margin-top: 20px;
    }
    .left-box-login,
    .right-box-login {
        margin-bottom: 20px;
    }
    .slider-area-2 .layer-1-2 .title1 {
        top: 15%;
    }
    .slider-area-2 .layer-1-3 .title2 {
        top: 25%;
    }
    .banner-item-2 .item-inner-2 .item-desc {
        margin-top: 71px;
    }
    .layer-1-3 .title2.title2-1-1 {
        top: 28%;
    }
    .section-title.section-title-3 h2 {
        font-size: 18px;
    }
    .all-product-list-grid-area .page-numbers ul li {
        width: 30px;
    }
    .read-more {
        padding: 0 10px;
    }
    .single-most-view .most-view-img {
        width: 40%;
    }
    .single-most-view .most-view-content {
        width: 60%;
    }
}

/* small mobile :320px. */
@media (max-width: 767px) {
    .container {
        width: 300px;
    }
    #cart .cart-inner > button {
        border: none;
    }
    .layer-1-2 .title1 {
        font-size: 25px;
    }
    .layer-1-3 .title2 {
        font-size: 35px;
        top: 50%;
    }
    .layer-1-2 .title1,
    .layer-1-3 .title2 {
        left: 35%;
    }
    .new-product-tab ul.new-product-nav li {
        width: 50%;
    }
    .new-product-tab ul.new-product-nav li span {
        padding-bottom: 9px;
    }
    .tab-content .product-image {
        float: none;
        width: 100%;
    }
    .tab-content .item-inner {
        float: none;
        padding: 0 20px;
        text-align: center;
        width: 100%;
    }
    .tab-content .item-inner .actions button,
    .tab-content .item-inner .actions .add-to-links {
        float: none;
    }
    .tab-content .item-inner .product-name a {
        font-size: 25px;
    }
    .tab-content .item-inner p {
        font-size: 14px;
    }
    .banner-2-area .fix-pr {
        padding-right: 15px;
    }
    .banner-2-area .fix-pl {
        padding-left: 15px;
    }
    .banner-2-area .single-banner {
        margin-bottom: 50px;
    }
    .banner-item .item-inner .item-desc {
        float: none;
        padding-left: 0;
        padding-top: 0;
        text-align: center;
    }
    .banner-item .item-inner .item-desc.item-desc-1 {
        padding-left: 0;
        padding-top: 0;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        float: left;
    }
    .single-news .news-img {
        float: none;
        width: 100%;
    }
    .single-news .news-content {
        float: none;
        width: 100%;
    }
    .footer-top .col-xs-12 {
        margin-bottom: 20px;
    }
    .footer-top .col-xs-12:last-child {
        margin-bottom: 0;
    }

    .banner-area-2 .single-banner {
        width: 100%;
    }
    .banner-area-2 .single-banner,
    .banner-area.banner-area-3 .single-banner {
        margin-bottom: 20px !important;
    }
    .banner-area-2 .single-banner:last-child,
    .banner-area-3 .single-banner:last-child {
        margin-bottom: 0;
    }
    .testimonial-img {
        float: none;
    }
    .testimonial-box::before {
        left: 50%;
        top: 94%;
        transform: rotate(133deg);
    }
    .testimonial-box {
        margin: 0;
        width: 100%;
        font-size: 15px;
        padding: 24px;
        margin-bottom: 20px;
    }
    .indicator-style.new-arrival-indicator-style.owl-theme
        .owl-controls
        .owl-buttons
        div {
        left: 0;
    }
    .indicator-style.new-arrival-indicator-style.owl-theme
        .owl-controls
        .owl-buttons
        div.owl-next {
        right: 0;
    }
    .feature-carousel.indicator-style.owl-theme .owl-controls .owl-buttons div {
        display: none;
    }
    .sidebar-menu-2 {
        margin-bottom: 20px;
    }
    .contact-form {
        margin-top: 20px;
    }
    .left-box-login,
    .right-box-login {
        margin-bottom: 20px;
    }
    .wishlist-area .button {
        margin-bottom: 20px;
    }
    .slider-area-2 .layer-1-3 .title2 {
        top: 35%;
    }
    .slider-area-4 .fixx_pr {
        padding-right: 15px;
    }
    .tolbar-select select,
    .show-number select {
        max-width: 79px;
        padding: 4px 2px 5px;
    }
    ul.list-grid-tab li a i {
        padding-right: 10px;
    }
    .footer-social ul.social-icons li {
        display: inline-block;
        margin-right: 5px;
        margin-top: 8px;
    }
    .preview-2 .nivoSlider:hover .nivo-directionNav a.nivo-prevNav {
        left: 30px;
    }
    .preview-2 .nivoSlider:hover .nivo-directionNav a.nivo-nextNav {
        right: 77px;
    }
    .single-blog-img {
        float: none;
        margin-right: 0;
    }
    .single-blog-content {
        margin-top: 20px;
    }
    .odd .single-blog-img {
        float: none;
        margin-left: 0;
    }
    .user-comment-form-area .form-list .fields .field {
        width: 100%;
        padding-right: 0;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }
    .layer-1-2 .title1,
    .layer-1-3 .title2 {
        left: 40%;
    }
    .single-tab-carousel .actions {
        margin-bottom: 20px;
    }
    .text-al-rht {
        text-align: right;
    }
    .footer-middle .payment {
        text-align: center;
    }
    .banner-item-2 .item-inner .item-desc {
        margin-right: 13px;
        margin-top: 57px;
    }
    .testimonial-box::before {
        top: 92%;
    }
    .feature-carousel.indicator-style.owl-theme .owl-controls .owl-buttons div {
        display: block;
    }
}
