{% extends 'base.html' %}

{% load i18n static  %}

{% block content %}

        <!-- mobile-menu-area start -->
        <div class="mobile-menu-area d-lg-none">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                        <ul>
                                            <li>
                                                <a href="index-2.html"
                                                    >Home 2</a
                                                >
                                            </li>
                                            <li>
                                                <a href="index-3.html"
                                                    >Home 3</a
                                                >
                                            </li>
                                            <li>
                                                <a href="index-4.html"
                                                    >Home 4</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Laptop</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 1</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 2</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 3</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Tablet</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Furniture</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Macs</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs 2</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs 3</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs elit</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Windows 3</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 1</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 2</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 3</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Smartphone</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html">GIFT</a>
                                            </li>
                                            <li><a href="shop.html">PC</a></li>
                                            <li><a href="shop.html">MAC</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Desktop</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html">Bags 2</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Bags 3</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Ring</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Pages</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Shop page</a
                                                >
                                            </li>
                                            <li>
                                                <a href="shop-list.html"
                                                    >Shop List</a
                                                >
                                            </li>
                                            <li>
                                                <a href="single-product.html"
                                                    >Single product</a
                                                >
                                            </li>
                                            <li>
                                                <a href="shopping-cart.html"
                                                    >Shopping Cart</a
                                                >
                                            </li>
                                            <li>
                                                <a href="wishlist.html"
                                                    >Wishlist</a
                                                >
                                            </li>
                                            <li>
                                                <a href="my-account.html"
                                                    >My Account</a
                                                >
                                            </li>
                                            <li>
                                                <a href="checkout.html"
                                                    >Checkout</a
                                                >
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html"
                                                    >Blog Details</a
                                                >
                                            </li>
                                            <li>
                                                <a href="about-us.html"
                                                    >About Us</a
                                                >
                                            </li>
                                            <li>
                                                <a href="contact-us.html"
                                                    >Contact Us</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu-area end -->

        <!-- single-product-menu start -->
        <div class="single-product-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pro-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-product-menu end -->

        <!-- all-blogs-area start -->
        <section class="all-blogs-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="left-sidebar-banner">
                            <div class="single-banner">
                                <a href="#"
                                    ><img
                                        src="{% static 'img/banner/banner_category.jpg' %}"
                                        alt=""
                                /></a>
                            </div>
                        </div>
                        <div class="sidebar-menu-2">
                            <a class="list-group-item" href="#">Login</a>
                            <a class="list-group-item" href="#">Register</a>
                            <a class="list-group-item" href="#"
                                >Forgotten Password</a
                            >
                            <a class="list-group-item" href="#">My Account</a>
                            <a class="list-group-item" href="#">Address Book</a>
                            <a class="list-group-item" href="#">Wish List</a>
                            <a class="list-group-item" href="#"
                                >Order History</a
                            >
                            <a class="list-group-item" href="#">Downloads</a>
                            <a class="list-group-item" href="#"
                                >Recurring payments</a
                            >
                            <a class="list-group-item" href="#"
                                >Reward Points</a
                            >
                            <a class="list-group-item" href="#">Returns</a>
                            <a class="list-group-item" href="#">Transactions</a>
                            <a class="list-group-item" href="#">Newsletter</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="blog-title">
                            <h2>Blog</h2>
                        </div>
                        {% for blog in blogs %}   
                        <div class="single-blog-posts">
                            <div class="blog-name">
                                <h3>
                                    <a href="{% url 'blog-details' blog.pk %}"
                                        >{{blog.title}}</a
                                    >
                                </h3>
                            </div>
                            <p class="blog-date">{{blog.created}}</p>
                            <div class="single-blog-img">
                                <img
                                    src="{{blog.image.url}}"
                                    alt=""
                                />
                            </div>
                            <div class="single-blog-content">
                                <p>
                                    {{blog.description}}
                                </p>
                        
                                <a class="read-more" href="{% url 'blog-details' blog.pk %}"
                                    >Read more</a
                                >
                            </div>
                        </div>
                        {% endfor %}
                        <div class="blog-page">
                            Showing 1 to 8 of 8 (1 Pages)
                        </div>

                        <br><br><br><br>

                        <!-- <form style="width: 50%;" action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form.name}}

                                {% if form.name.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{form.name.errors}}
                                </div>
                                {% endif %}

                            </div>
                            <div class="form-group">
                                {{form.email}}
                                
                                {% if form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{form.email.errors}}
                                </div>
                                {% endif %}
                                
                            </div>
                            <div class="form-group">
                                {{form.comments}}
                                 
                                {% if form.comments.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{form.comments.errors}}
                                </div>
                                {% endif %}
                                
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form> -->
                        <br>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- all-blogs-area end -->
        

        <!-- our-brand-area start -->
        <div class="our-brand-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div
                            class="brand-carousel indicator-style brand-indicator-style owl-carousel"
                        >
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand04-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand04-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- our-brand-area end -->

{% endblock %}  