{% extends 'base.html' %}

{% load static %}

{% block content %}
        
        <div class="mobile-menu-area d-lg-none">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                        <ul>
                                            <li>
                                                <a href="index-2.html"
                                                    >Home 2</a
                                                >
                                            </li>
                                            <li>
                                                <a href="index-3.html"
                                                    >Home 3</a
                                                >
                                            </li>
                                            <li>
                                                <a href="index-4.html"
                                                    >Home 4</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Laptop</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 1</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 2</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 3</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Tablet</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Furniture</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Macs</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs 2</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs 3</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs elit</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Windows 3</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 1</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 2</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 3</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Smartphone</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html">GIFT</a>
                                            </li>
                                            <li><a href="shop.html">PC</a></li>
                                            <li><a href="shop.html">MAC</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Desktop</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html">Bags 2</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Bags 3</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Ring</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Pages</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Shop page</a
                                                >
                                            </li>
                                            <li>
                                                <a href="shop-list.html"
                                                    >Shop List</a
                                                >
                                            </li>
                                            <li>
                                                <a href="single-product.html"
                                                    >Single product</a
                                                >
                                            </li>
                                            <li>
                                                <a href="shopping-cart.html"
                                                    >Shopping Cart</a
                                                >
                                            </li>
                                            <li>
                                                <a href="wishlist.html"
                                                    >Wishlist</a
                                                >
                                            </li>
                                            <li>
                                                <a href="my-account.html"
                                                    >My Account</a
                                                >
                                            </li>
                                            <li>
                                                <a href="checkout.html"
                                                    >Checkout</a
                                                >
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html"
                                                    >Blog Details</a
                                                >
                                            </li>
                                            <li>
                                                <a href="about-us.html"
                                                    >About Us</a
                                                >
                                            </li>
                                            <li>
                                                <a href="contact-us.html"
                                                    >Contact Us</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu-area end -->

        <!-- single-product-menu start -->
        <div class="single-product-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pro-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Blog</a></li>
                                <li>
                                    <a href="#">Lorem ipsum dolor sit amet</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-product-menu end -->

        <!-- all-blogs-area start -->
        <section class="blog-page-area details-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="single-blog no-margin">
                            <div class="post-thumbnail">
                                <img src="{% static 'img/blog/blog-1.jpg' %}" alt="" />
                            </div>
                            <div class="postinfo-wrapper">
                                <div class="post-date">
                                    <span class="day">10</span
                                    ><span class="month">Mar</span>
                                </div>
                                <div class="post-info">
                                    <h1 class="blog-post-title">
                                       {{blogs.title}}
                                    </h1>
                                    <div class="entry-meta">
                                        Posted by
                                        <span class="author vcard"
                                            ><a
                                                class="url fn n"
                                                href="#"
                                                title="View all posts by admin"
                                                rel="author"
                                                >admin</a
                                            ></span
                                        >
                                        /
                                        <a href="#" rel="category tag"
                                            >Fashion</a
                                        >,
                                        <a href="#" rel="category tag"
                                            >WordPress</a
                                        >
                                    </div>
                                    <div class="entry-summary">
                                        <p>
                                            Donec vitae hendrerit arcu, sit amet
                                            faucibus nisl. Cras pretium arcu ex.
                                            Aenean posuere libero eu augue
                                            condimentum rhoncus. Praesent ornare
                                            tortor ac ante egestas hendrerit.
                                            Aliquam et metus pharetra, bibendum
                                            massa nec, fermentum odio. Nunc id
                                            leo ultrices, mollis ligula in,
                                            finibus tortor. Mauris eu dui ut
                                            lectus fermentum
                                        </p>
                                        <blockquote>
                                            <p>
                                                Quisque semper nunc vitae erat
                                                pellentesque, ac placerat arcu
                                                consectetur. In venenatis elit
                                                ac ultrices convallis. Duis est
                                                nisi, tincidunt ac urna sed,
                                                cursus blandit lectus. In
                                                ullamcorper sit amet ligula ut
                                                eleifend. Proin dictum tempor
                                                ligula, ac feugiat metus. Sed
                                                finibus tortor eu scelerisque
                                                scelerisque.
                                            </p>
                                        </blockquote>
                                        <p>
                                            Aenean et tempor eros, vitae
                                            sollicitudin velit. Etiam varius
                                            enim nec quam tempor, sed efficitur
                                            ex ultrices. Phasellus pretium est
                                            vel dui vestibulum condimentum.
                                            Aenean nec suscipit nibh. Phasellus
                                            nec lacus id arcu facilisis
                                            elementum. Curabitur lobortis, elit
                                            ut elementum congue, erat ex
                                            bibendum odio, nec iaculis lacus sem
                                            non lorem. Duis suscipit metus ante,
                                            sed convallis quam posuere quis. Ut
                                            tincidunt eleifend odio, ac
                                            fringilla mi vehicula nec. Nunc
                                            vitae lacus eget lectus imperdiet
                                            tempus sed in dui. Nam molestie
                                            magna at risus consectetur, placerat
                                            suscipit justo dignissim. Sed vitae
                                            fringilla enim, nec ullamcorper
                                            arcu.
                                        </p>
                                        <p>
                                            Suspendisse turpis ipsum, tempus in
                                            nulla eu, posuere pharetra nibh. In
                                            dignissim vitae lorem non mollis.
                                            Praesent pretium tellus in tortor
                                            viverra condimentum. Nullam
                                            dignissim facilisis nisl, accumsan
                                            placerat justo ultricies vel.
                                            Vivamus finibus mi a neque pretium,
                                            ut convallis dui lacinia. Morbi a
                                            rutrum velit. Curabitur sagittis
                                            quam quis consectetur mattis. Aenean
                                            sit amet quam vel turpis interdum
                                            sagittis et eget neque. Nunc ante
                                            quam, luctus et neque a, interdum
                                            iaculis metus. Aliquam vel ante
                                            mattis, placerat orci id, vehicula
                                            quam. Suspendisse quis eros cursus,
                                            viverra urna sed, commodo mauris.
                                            Cras diam arcu, fringilla a sem
                                            condimentum, viverra facilisis nunc.
                                            Curabitur vitae orci id nulla
                                            maximus maximus. Nunc pulvinar
                                            sollicitudin molestie.
                                        </p>
                                    </div>
                                    <div class="entry-meta">
                                        <a href="#">3 comments </a
                                        ><span class="author vcard"
                                            >/ Tags:</span
                                        >
                                        / <a href="#">fashion</a>,
                                        <a href="#">t-shirt</a>,
                                        <a href="#">white</a>
                                    </div>
                                    <div class="share-icon">
                                        <h3>Share this post</h3>
                                        <ul>
                                            <li>
                                                <a
                                                    class="facebook"
                                                    target="_blank"
                                                    href="#"
                                                    ><i
                                                        class="fa fa-facebook"
                                                    ></i
                                                ></a>
                                            </li>
                                            <li>
                                                <a
                                                    class="twitter"
                                                    target="_blank"
                                                    href="#"
                                                    ><i
                                                        class="fa fa-twitter"
                                                    ></i
                                                ></a>
                                            </li>
                                            <li>
                                                <a
                                                    class="pinterest"
                                                    target="_blank"
                                                    href="#"
                                                    ><i
                                                        class="fa fa-pinterest"
                                                    ></i
                                                ></a>
                                            </li>
                                            <li>
                                                <a
                                                    class="google-plus"
                                                    target="_blank"
                                                    href="#"
                                                    ><i
                                                        class="fa fa-google-plus"
                                                    ></i
                                                ></a>
                                            </li>
                                            <li>
                                                <a
                                                    class="linkedin"
                                                    target="_blank"
                                                    href="#"
                                                    ><i
                                                        class="fa fa-linkedin"
                                                    ></i
                                                ></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="author-info">
                                        <div class="author-avatar">
                                            <img
                                                alt=""
                                                src="{% static 'img/blog/avatar.png' %}"
                                            />
                                        </div>
                                        <div class="author-description">
                                            <h2>
                                                About the Author:
                                                <a href="#">Admin</a>
                                            </h2>
                                            <p>
                                                Cras id nulla at metus congue
                                                auctor. Suspendisse auctor
                                                dictum orci quis interdum.
                                                Nullam et eleifend metus.
                                                Integer in est orci. Duis
                                                hendrerit ex metus, vel tempor
                                                sem aliquet nec. Donec ornare
                                                hendrerit bibendum. Nullam dui
                                                erat, tempus eu nisl vitae,
                                                venenatis gravida ipsum.
                                                Suspendisse potenti.
                                            </p>
                                        </div>
                                    </div>

                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{form.name}}
            
                                            {% if form.name.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{form.name.errors}}
                                            </div>
                                            {% endif %}
            
                                        </div>
                                        <div class="form-group">
                                            {{form.email}}
                                            
                                            {% if form.email.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{form.email.errors}}
                                            </div>
                                            {% endif %}
                                            
                                        </div>
                                        <div class="form-group">
                                            {{form.comments}}
                                             
                                            {% if form.comments.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{form.comments.errors}}
                                            </div>
                                            {% endif %}
                                            
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                    
                                    <div class="reply-comment-area">
                                        <h3>3 comments</h3>
                                        <div class="single-reply">
                                            <div class="comment-author">
                                                <img
                                                    alt=""
                                                    src="{% static 'img/blog/1.jpg' %}"
   ' %}                                             />
                                            </div>
                                            <div class="comment-info">
                                                <div
                                                    class="comment-author-info"
                                                >
                                                    <a href="#"><b>admin</b></a>
                                                    Post author
                                                    <span
                                                        >October 6, 2014 at 1:38
                                                        am</span
                                                    >
                                                    <a href="#">Reply</a>
                                                </div>
                                                <p>just a nice post</p>
                                            </div>
                                        </div>
                                        <div class="single-reply user-comment">
                                            <div class="comment-author">
                                                <img
                                                    alt=""
                                                    src="{% static 'img/blog/8.jpg' %}"
   ' %}                                             />
                                            </div>
                                            <div class="comment-info">
                                                <div
                                                    class="comment-author-info"
                                                >
                                                    <a href="#"><b>demo</b></a>
                                                    Post author
                                                    <span
                                                        >October 6, 2014 at 1:38
                                                        am</span
                                                    >
                                                    <a href="#">Reply</a>
                                                </div>
                                                <p>just a nice post</p>
                                            </div>
                                        </div>
                                        <div class="single-reply">
                                            <div class="comment-author">
                                                <img
                                                    alt=""
                                                    src="{% static 'img/blog/1.jpg' %}"
   ' %}                                             />
                                            </div>
                                            <div class="comment-info">
                                                <div
                                                    class="comment-author-info"
                                                >
                                                    <a href="#"><b>admin</b></a>
                                                    Post author
                                                    <span
                                                        >October 6, 2014 at 1:38
                                                        am</span
                                                    >
                                                    <a href="#">Reply</a>
                                                </div>
                                                <p>just a nice post</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-comment-form-area">
                                        <h3>Leave a Reply</h3>
                                        <form action="#" method="post">
                                            <p>
                                                Your email address will not be
                                                published. Required fields are
                                                marked
                                                <span class="required">*</span>
                                            </p>
                                            <ul class="form-list">
                                                <li>
                                                    <div class="fields">
                                                        <div class="field name">
                                                            <label for="name"
                                                                ><em>*</em
                                                                >Name</label
                                                            >
                                                            <div
                                                                class="input-box"
                                                            >
                                                                <input
                                                                    type="text"
                                                                    class="input-text"
                                                                    title="Name"
                                                                    name="name"
                                                                    id="name"
                                                                />
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="field email"
                                                        >
                                                            <label for="email"
                                                                ><em>*</em
                                                                >Email</label
                                                            >
                                                            <div
                                                                class="input-box"
                                                            >
                                                                <input
                                                                    type="text"
                                                                    class="input-text"
                                                                    title="Email"
                                                                    name="email"
                                                                    id="email"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="field comment">
                                                        <label for="comment"
                                                            >Comment</label
                                                        >
                                                        <div class="input-box">
                                                            <textarea
                                                                name="comment"
                                                                class="input-text"
                                                                id="comment"
                                                                cols="30"
                                                                rows="5"
                                                            ></textarea>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <button
                                                        type="button"
                                                        class="button floatright"
                                                    >
                                                        <span>Submit</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="left-sidebar-banner">
                            <div class="single-banner">
                                <a href="#"
                                    ><img
                                        src="{% static 'img/banner/banner_c' %}ategory.jpg' %}"
                                        alt=""
                                /></a>
                            </div>
                        </div>
                        <div class="sidebar-menu-2">
                            <a class="list-group-item" href="#">Login</a>
                            <a class="list-group-item" href="#">Register</a>
                            <a class="list-group-item" href="#"
                                >Forgotten Password</a
                            >
                            <a class="list-group-item" href="#">My Account</a>
                            <a class="list-group-item" href="#">Address Book</a>
                            <a class="list-group-item" href="#">Wish List</a>
                            <a class="list-group-item" href="#"
                                >Order History</a
                            >
                            <a class="list-group-item" href="#">Downloads</a>
                            <a class="list-group-item" href="#"
                                >Recurring payments</a
                            >
                            <a class="list-group-item" href="#"
                                >Reward Points</a
                            >
                            <a class="list-group-item" href="#">Returns</a>
                            <a class="list-group-item" href="#">Transactions</a>
                            <a class="list-group-item" href="#">Newsletter</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- all-blogs-area end -->

        <!-- our-brand-area start -->
        <div class="our-brand-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div
                            class="brand-carousel indicator-style brand-indicator-style owl-carousel"
                        >
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}04-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}04-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand' %}01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- our-brand-area end -->

{% endblock %}      