{% extends 'base.html' %}

{% load static %}

{% block content %}

        <!-- mobile-menu-area start -->
        <div class="mobile-menu-area d-lg-none">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                        <ul>
                                            <li>
                                                <a href="index-2.html"
                                                    >Home 2</a
                                                >
                                            </li>
                                            <li>
                                                <a href="index-3.html"
                                                    >Home 3</a
                                                >
                                            </li>
                                            <li>
                                                <a href="index-4.html"
                                                    >Home 4</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Laptop</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 1</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 2</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 3</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Tablet</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Furniture</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Macs</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs 2</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs 3</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs elit</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Windows 3</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 1</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 2</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 3</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Smartphone</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html">GIFT</a>
                                            </li>
                                            <li><a href="shop.html">PC</a></li>
                                            <li><a href="shop.html">MAC</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Desktop</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html">Bags 2</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Bags 3</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Ring</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Pages</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Shop page</a
                                                >
                                            </li>
                                            <li>
                                                <a href="shop-list.html"
                                                    >Shop List</a
                                                >
                                            </li>
                                            <li>
                                                <a href="single-product.html"
                                                    >Single product</a
                                                >
                                            </li>
                                            <li>
                                                <a href="shopping-cart.html"
                                                    >Shopping Cart</a
                                                >
                                            </li>
                                            <li>
                                                <a href="wishlist.html"
                                                    >Wishlist</a
                                                >
                                            </li>
                                            <li>
                                                <a href="my-account.html"
                                                    >My Account</a
                                                >
                                            </li>
                                            <li>
                                                <a href="checkout.html"
                                                    >Checkout</a
                                                >
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html"
                                                    >Blog Details</a
                                                >
                                            </li>
                                            <li>
                                                <a href="about-us.html"
                                                    >About Us</a
                                                >
                                            </li>
                                            <li>
                                                <a href="contact-us.html"
                                                    >Contact Us</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu-area end -->

        <!-- single-product-menu start -->
        <div class="single-product-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pro-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-product-menu end -->

        <!-- about-us-area start -->
        <div class="home-hello-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="f-title text-center">
                            <h3 class="title text-uppercase">About Us</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="about-page-cntent">
                            <h3>The standard lorem ipsum passage</h3>
                            <p>
                                Neque porro quisquam est, qui dolorem ipsum quia
                                dolor sit amet, consectetur, adipisci velit, sed
                                quia non numquam eius modi tempora incidunt ut
                                labore et dolore magnam aliquam quaerat
                                voluptatem. Ut enim ad minima veniam, ullam,
                                commodi consequatur?
                            </p>
                            <blockquote>
                                <p>
                                    Quis autem vel eum iure reprehenderit qui in
                                    ea voluptate velit esse quam nihil molestiae
                                    consequatur, vel illum qui dolorem eum
                                    fugiat quo voluptas nulla pariatur
                                </p>
                            </blockquote>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum. Phasellus tempor nunc
                                eleifend cursus molestie. Mauris lectus arcu,
                                pellentesque at sodales sit amet, condimentum id
                                nunc. Donec ornare mattis suscipit. Praesent
                                fermentum accumsan vulputate.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="img-element">
                            <img alt="banner1" src="{% static 'img/brand/ab.jpg' %}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about-us-area end -->

        <!-- our-brand-area start -->
        <div class="our-brand-area section-padding checkout-brand-mt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div
                            class="brand-carousel indicator-style brand-indicator-style owl-carousel"
                        >
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand04-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand04-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- our-brand-area end -->

{% endblock %}
        