{% extends 'base.html' %}

{% load static %}

{% block content %}

        <!-- mobile-menu-area start -->
        <div class="mobile-menu-area d-lg-none">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                        <ul>
                                            <li>
                                                <a href="index-2.html"
                                                    >Home 2</a
                                                >
                                            </li>
                                            <li>
                                                <a href="index-3.html"
                                                    >Home 3</a
                                                >
                                            </li>
                                            <li>
                                                <a href="index-4.html"
                                                    >Home 4</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Laptop</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 1</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 1
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 2</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 2
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Electronic 3</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Electronic 3
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Tablet</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Furniture</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1
                                                            libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Furniture 1
                                                            nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Macs</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs 2</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs 3</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Macs elit</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html"
                                                    >Windows 3</a
                                                >
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 1</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 2</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Windows 3</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Smartphone</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html">GIFT</a>
                                            </li>
                                            <li><a href="shop.html">PC</a></li>
                                            <li><a href="shop.html">MAC</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Desktop</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html">Bags 2</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 2 nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Bags 3</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Bags 3 nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop.html">Ring</a>
                                                <ul>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring elit</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring libero</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="shop.html"
                                                            >Ring nulla</a
                                                        >
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop.html">Pages</a>
                                        <ul>
                                            <li>
                                                <a href="shop.html"
                                                    >Shop page</a
                                                >
                                            </li>
                                            <li>
                                                <a href="shop-list.html"
                                                    >Shop List</a
                                                >
                                            </li>
                                            <li>
                                                <a href="single-product.html"
                                                    >Single product</a
                                                >
                                            </li>
                                            <li>
                                                <a href="shopping-cart.html"
                                                    >Shopping Cart</a
                                                >
                                            </li>
                                            <li>
                                                <a href="wishlist.html"
                                                    >Wishlist</a
                                                >
                                            </li>
                                            <li>
                                                <a href="my-account.html"
                                                    >My Account</a
                                                >
                                            </li>
                                            <li>
                                                <a href="checkout.html"
                                                    >Checkout</a
                                                >
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html"
                                                    >Blog Details</a
                                                >
                                            </li>
                                            <li>
                                                <a href="about-us.html"
                                                    >About Us</a
                                                >
                                            </li>
                                            <li>
                                                <a href="contact-us.html"
                                                    >Contact Us</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu-area end -->

        <!-- single-product-menu start -->
        <div class="single-product-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pro-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-product-menu end -->

        <!-- my-account-area start -->
        <section class="my-account-area accordion-my-account">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h1>My Account</h1>
                        <div
                            class="panel-group"
                            id="accordion"
                            role="tablist"
                            aria-multiselectable="true"
                        >
                            <div class="panel panel-default">
                                <div
                                    class="panel-heading"
                                    role="tab"
                                    id="headingOne"
                                >
                                    <h4 class="panel-title">
                                        <a
                                            role="button"
                                            data-bs-toggle="collapse"
                                            href="#collapseOne"
                                            aria-expanded="true"
                                            aria-controls="collapseOne"
                                        >
                                            Edit your account information
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div
                                    id="collapseOne"
                                    class="panel-collapse collapse show"
                                    data-bd-parent="#accordion"
                                    role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="easy-2">
                                            <h1>My Account Information</h1>
                                            <form class="form-horizontal" method="post">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <legend>Your Personal Details</legend>
                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label">First Name</label>
                                                        <div class="col-sm-10">
                                                            {{ form.first_name }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label">Last Name</label>
                                                        <div class="col-sm-10">
                                                            {{ form.last_name }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label">E-Mail</label>
                                                        <div class="col-sm-10">
                                                            {{ form.email }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group required">
                                                        <label class="col-sm-2 control-label">Password</label>
                                                        <div class="col-sm-10">
                                                            {{ form.password1 }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group required">
                                                    <label class="col-sm-2 control-label">Confirm Password</label>
                                                    <div class="col-sm-10">
                                                        {{ form.password2 }}
                                                    </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary" >Submit</button>
                                                </fieldset>
                                                <!-- <button class="button pull-left">
                                                    <span>Back</span>
                                                </button>
                                                <button class="button pull-right">
                                                    <span>Continue</span>
                                                </button> -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div
                                    class="panel-heading"
                                    role="tab"
                                    id="headingThree"
                                >
                                    <h4 class="panel-title">
                                        <a
                                            class="collapsed"
                                            role="button"
                                            data-bs-toggle="collapse"
                                            href="#collapseThree"
                                            aria-expanded="false"
                                            aria-controls="collapseThree"
                                        >
                                            Modify your address book entries
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div
                                    id="collapseThree"
                                    class="panel-collapse collapse"
                                    data-bd-parent="#accordion"
                                    role="tabpanel"
                                    aria-labelledby="headingThree"
                                >
                                    <div class="panel-body">
                                        <div class="easy-2">
                                            <h1>Address Book Entries</h1>
                                            <table
                                                class="table table-bordered table-hover"
                                            >
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left">
                                                            Jhon Doue
                                                            <br />
                                                            envato <br />
                                                            Kapati Island <br />
                                                            Street. <br />
                                                            Island <br />
                                                            New Zealand
                                                        </td>
                                                        <td class="text-right">
                                                            <a
                                                                class="btn btn-info g6"
                                                                href="#"
                                                                >Edit</a
                                                            >
                                                            <a
                                                                class="btn btn-danger g6"
                                                                href="#"
                                                                >Delete</a
                                                            >
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button class="button pull-left">
                                                <span>Back</span>
                                            </button>
                                            <button class="button pull-right">
                                                <span>Continue</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div
                                    class="panel-heading"
                                    role="tab"
                                    id="headingFour"
                                >
                                    <h4 class="panel-title">
                                        <a
                                            class="collapsed"
                                            href="wishlist.html"
                                        >
                                            Modify your Wishlist
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- my-account-area end -->

        <!-- our-brand-area start -->
        <div class="our-brand-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div
                            class="brand-carousel indicator-style brand-indicator-style owl-carousel"
                        >
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand04-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand02-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand03-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand04-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <img
                                        src="{% static 'img/brand/img_brand01-150x110.jpg' %}"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- our-brand-area end -->

{% endblock %}